
.alpha{
  background-color: rgb(235, 223, 215);
  
  height: 100%;
  width: 100%;
  
}
  .container {
    margin: 0;
    margin-bottom: 0;
    margin-top: 45px;
    display: flex;
    height: 135%;
    width: 100%;

    background-color: rgb(179, 227, 227);
    background-image: url(bk.jpg);
  }
  
  .left1 {
    flex: 1;
    padding: 00px;
  }
  
  .left1 h1 {
    text-align: center;
    font-size: 3rem;
    color: teal;
    color: #000000;
  }
  
  .left1 p {
    margin-top: 00px;
    color:#000000;
    padding: 60px;
    text-align: center;
   
  }
  
  .right6 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid goldenrod;
    margin-right: 160px;

    
  }
  
  .home {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #ffffff;
    background: linear-gradient(-30deg, #3d0b0b 50%, #2b0808 50%);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    top: -100px;
    margin-top: 30px;
    left: 20px;
  }
  
  .glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
  }
  
  .glow-on-hover:active {
    color: linear-gradient(-30deg, #3d0b0b 50%, #2b0808 50%);
  }
  
  .glow-on-hover:active:after {
    background: transparent;
  }
  
  .glow-on-hover:hover:before {
    opacity: 1;
  }
  
  .glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(-30deg, #3d0b0b 50%, #2b0808 50%);;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  
  @keyframes glowing {
    0% {
      background-position: 0 0;
    }
  
    50% {
      background-position: 400% 0;
    }
  
    100% {
      background-position: 0 0;
    }
  }